<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--当前项目ID-->
    <add key="ProjectId" value="106" />
    <!--数据库链接配置-->
    <add key="Conn" value="server=.; User Id=sa; pwd=123;database=KtpAcsMiddleware;" />
    <!--文件保存位置-->
    <add key="CustomFilesDir" value="D:\CCBKTPACS\KtpAcsMiddleware\_Files" />
    <!--开太平api地址-->
    <!--<add key="KtpApiBaseUrl" value="http://tcs.ktpis.com/zj/" />-->
    <!--测试环境-->
    <!--<add key="KtpApiBaseUrl" value="https://gatetest.ktpis.com/" />-->
    <!--生产环境-->
    <add key="KtpApiBaseUrl" value="http://47.107.22.139:30918/" />
    
    <!--是否需要检查新版本-->
    <add key="IsAutoUpdater" value="True" />
    <!--<add key="IsAutoUpdater" value="False" />-->
    <!--是否需要手输信息-->
    <add key="IsManualAddInfo" value="False" />
    <!--赤道初始化密码-->
    <add key="CdPassPwd" value="755626" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>