<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://update.ktpis.com/gateupdate/2/updateservice2.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="KtpAcs.WinForm.exe" lastver="2.0.0.0" size="1000" />
    <LocalFile path="KtpAcs.WinServiceClient.exe" lastver="2.0.0.0" size="300" />
    <LocalFile path="KtpAcsMiddleware.Infrastructure.dll" lastver="2.0.0.0" size="300" />
    <LocalFile path="KtpAcsAotoUpdate.exe" lastver="2.0.0.0" size="300" />
    <LocalFile path="KtpAcsMiddleware.Domain.dll" lastver="2.0.0.0" size="300" />
    <LocalFile path="KtpAcsMiddleware.AppService.dll" lastver="2.0.0.0" size="300" />
    <LocalFile path="KtpAcsMiddleware.KtpApiService.Asp.dll" lastver="2.0.0.0" size="300" />
  </UpdateFileList>
</Config>