<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KtpAcsMiddleware.WinForm.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--当前项目ID-->
    <add key="ProjectId" value="138" />
    <!--数据库链接配置-->
    <add key="Conn" value="server=.; User Id=sa; pwd=123;database=KtpAcsMiddleware;" />
    <!--文件保存位置-->
    <add key="CustomFilesDir" value="D:\CCBKTPACS\KtpAcsMiddleware\_Files" />
    <!--开太平api地址-->
    <add key="KtpApiBaseUrl" value="http://t.ktpis.com/zj/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <KtpAcsMiddleware.WinForm.Properties.Settings>
      <setting name="KtpAcsMiddleware_WinForm_KtpAcsMiddlewareFileService_FileWebService" serializeAs="String">
        <!--KtpAcsMiddleware文件服务WebService地址-->
        <value>http://localhost/Api/FileWebService.asmx</value>
      </setting>
    </KtpAcsMiddleware.WinForm.Properties.Settings>
  </applicationSettings>
</configuration>