<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--当前项目ID-->
    <add key="ProjectId" value="24" />
    <!--数据库链接配置-->
    <add key="Conn" value="server=.; User Id=sa; pwd=123;database=KtpAcsMiddleware;" />
    <!--文件保存位置-->
    <add key="CustomFilesDir" value="D:\CCBKTPACS\KtpAcsMiddleware\_Files\" />
    <!--服务睡眠时间,默认5分钟=300000毫秒-->
    <add key="ThreadSleepTime" value="300000" />
    <!--开太平api地址-->
    <add key="KtpApiBaseUrl" value="http://tcs.ktpis.com/zj/" />
    <!--是否从开太平下拉数据(双向同步)-->
    <add key="IsLoadKtpData" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>